.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container div {

    margin: 10px;
    text-align: center;
}

div.swatch {
    width: 20px;
    height: 20px;
}