* {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  padding: 20px;
}

nav ul {
    display:flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: #e0ebe8;
  }
  
  nav ul li {
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.5rem;
  }
  
  nav ul li a {
    color: #008080;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: green;
  }

  .intro {
    min-height: 55vh;
    padding-top: 45vh;
    background-color: #9BBFAB;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 150px;
    height: 50px;
  }

  textarea {
    text-align: center;
  }

  .poem {
    font-size: 1.25rem;
  }

  .work {
    background-color: #F2EFDF;
    
  }

  .project-pics {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 75vh;
  }

.project {
    text-decoration: none;
  }

  figure {
      max-width: 230px;
  }
  
  .figure-pic {
    /* max-width: 200px; */
    max-height: 200px;
  }

  figcaption {
    text-align: center;
  }
  
  .project-title {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }

  #contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 25vh;
    background-color: #656F8C;
  }

  #contact a {
    text-align: center;
    margin: 10px;
  }

  .contact-details {
    display: inline-block;
    font-weight: bold;
    margin: 0 35px 45px 35px;
    list-style-type: none;
    border: 2px solid #90C695;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: #e0ebe8;
    color: #008080;
    text-decoration: none;
  }
  
  .contact-details:hover {
    background: #E4F1FE;
    color: green;
  }

  @media only screen and (max-width: 500px) {
    nav ul {
      text-align: center;
    }
    nav ul li {
      margin: 20px;
    }
    .project {
      margin: 40px 0;
    }
  }

  @media only screen and (max-width: 367px) {
    /*    #contact{
      min-height:1100px;
    } */
    .contact-details {
      border: 2px solid #90C695;
      border-radius: 0;
      width: 90px;
      height: 20px;
      padding: 10px;
      line-height: normal;
    }
  }

  footer {
    background-color: #211426;
  }

  footer p {
    color: #fff;
    text-align: center;
  }